@import '../../styles/contants.scss';

.wrapper{
    background: #f8f7f1;
    .container{
        gap: 2rem;
        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        background-color: #f8f7f1;
        width: 100%;
        
        .left{
            flex: 3;
            >*{
                display: block;
                a{
                    text-decoration: underline;
                    color:rgb(185, 45, 45);

                }
            }
        }


        .right{
            flex: 1;
            .info{
                margin-bottom: 1rem;
                >*{
                    display: block;
                }
            }
            .menu{
                @media (max-width: $sm) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                display: flex;
                flex-direction: column;
                gap: 2rem;
                list-style: none;
                li{
                    cursor: pointer;
                    &:hover{
                        color: $secondary
                    }
                }
            }
        }
    }
}